<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sunandmoon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuDisplay"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".SunMoonDisplay"
            android:parentActivityName=".MainMenuDisplay"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".ClockActivityRise" />
        <activity android:name=".HandsOverlayRise" />
        <activity android:name=".ClockActivitySet" />
        <activity android:name=".LocationActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  ></activity>
    </application>

</manifest>